.dropdown__container {
  cursor: pointer;
}

.dropdown__options {
  list-style: none;
  position: absolute;
  width: 100%;
  margin-top: 0.5rem;
  border-radius: var(--dropdownOptionsContainerBorderRadius);
  box-shadow: var(--dropdownOptionsContainerBoxShadow);
  padding: 10px 0;
  font-size: 14px;
  font-weight: 400;
}

.dropdown__option {
  border-left: 2px solid;
  border-color: transparent;
  padding: 8px 12px;
}

.dropdown__option:hover {
  background-color: var(--inputHoverBgColor);
  border-color: var(--themeColor);
}
