@import url("./variables.css");
@import url("./dropdown.css");
@import url("./input.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--textColor);
  background-color: var(--bodybackgroundcolor);
  padding: 1rem;
}
